.footerWetherData {
  height: 40%;
  width: 100%;
  border-top: 2px solid white;
  display: flex;
  align-items: center;
  overflow: auto;

  &__renderFooterWetherData {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-left: 20px;

    .temp {
      @include mediaHeaght {
        font-size: 30px;
      }

      @include mediaMobile {
        font-size: 14px;
      }
    }

    .icon {
      height: 70px;
      width: 70px;

      @include mediaTablet {
        height: 50px;
        width: 50px;
      }

      @include mediaMobile {
        height: 40px;
        width: 40px;
      }

      @include mediaHeaght {
        height: 100px;
        width: 100px;
      }
    }

    .time {
      @extend .temp;
    }
  }

  @include mediaTablet {
    height: 40%;
  }

  @include mediaMobile {
    height: 35%;
  }

  @include mediaHeaght {
    height: 20%;
  }
}
