@import "../../../mixins/wetherDataMixins";

.todayWeatherData {
  @include weatherData;

  &__wrapperRenderTodayWetherData {
    @include wrapperRenderWatherData;

    .renderTodayWeatherData {
      @extend .todayWeatherData;
      // height: 45%;
      width: 30%;
      flex-direction: column;
      justify-content: space-between;
      color: white;
      // max-height: 40%;
      // min-height: 55%;
      // row-gap: 10px;

      .time {
        @include time;

        @include mediaTablet {
          font-size: 18px;
        }
      }

      .wrapperTodatTemp {
        .tempDay {
          @extend .time;
          color: white;
        }

        .braillePattern {
          @extend .tempDay;
          font-size: 16px;
          margin-left: 3px;
        }

        @include mediaTablet {
          display: flex;
          flex-direction: column;
        }

        @include mediaMobile {
          display: flex;
          flex-direction: column;
        }
      }

      .wrapperCurrentTodayTemp {
        height: 20%;
        display: flex;

        .currentTemp {
          @extend .tempDay;
          font-weight: 600;
          font-size: 60px;

          @include mediaTablet {
            font-size: 30px;
          }

          @include mediaMobile {
            font-size: 35px;
          }
        }

        .specialCharactersCurrentTemp {
          font-size: 35px;

          @include mediaTablet {
            font-size: 20px;
          }

          @include mediaMobile {
            font-size: 20px;
          }
        }
      }

      .feelsLike {
        @extend .time;
        color: white;
      }
    }

    .renderTodayIconData {
      @extend .renderTodayWeatherData;
      align-items: center;

      .iconWether {
        @include iconWetherData;
        position: relative;
        top: 5%;

        @include mediaMobile {
          height: 100px;
          width: 100px;
          // right: 10%;
        }
      }

      .descriptionWetherText {
        font-size: 24px;

        @include mediaTablet {
          font-size: 18px;
        }

        @include mediaHeaght {
          font-size: 34px;
        }
      }

      @include mediaTablet {
        // justify-content: space-between;
      }
    }

    // @include mediaTablet {
    //   height: 50%;
    // }

    // @include mediaMobile {
    //   min-height: 65%;
    // }

    // @include mediaHeaght {
    //   height: 42%;
    // }
  }
}
