@import "../../../mixins/wetherDataMixins";

.todayWeatherData {
  @include weatherData;

  &__wrapperRenderTodayWetherData {
    @include wrapperRenderWatherData;

    .renderTodayWeatherData {
      @extend .todayWeatherData;
      height: 80%;
      width: 30%;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 15px;
      color: white;

      .time {
        @include time;

        @include mediaMobile {
          font-size: 19px;
        }
      }

      .wrapperTodatTemp {
        .tempDay {
          @extend .time;
          color: white;
        }

        .braillePattern {
          @extend .tempDay;
          font-size: 16px;
          margin-left: 3px;
        }

        @include mediaMobile {
          display: flex;
          flex-direction: column;
        }
      }

      .wrapperCurrentTodayTemp {
        height: 20%;
        display: flex;

        .currentTemp {
          @extend .tempDay;
          font-weight: 600;
          font-size: 60px;

          @include mediaMobile {
            font-size: 50px;
          }
        }

        .specialCharactersCurrentTemp {
          font-size: 35px;

          @include mediaTablet {
            font-size: 25px;
          }
        }
      }

      .feelsLike {
        @extend .time;
        color: white;
      }

      @include mediaTablet {
        height: 60%;
      }
    }

    .renderTodayIconData {
      @extend .renderTodayWeatherData;
      align-items: center;
      justify-content: space-between;

      .iconWether {
        @include iconWetherData;

        @include mediaMobile {
          height: 100px;
          width: 100px;
        }
      }

      .descriptionWetherText {
        font-size: 24px;

        @include mediaMobile {
          font-size: 19px;
        }
      }

      @include mediaTablet {
        justify-content: space-between;
      }
    }
  }
}
