@mixin weatherData {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 2%;
}

@mixin wrapperRenderWatherData {
  // height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@mixin time {
  color: black;
  font-size: 24px;

  @include mediaMobile {
    font-size: 14px;
  }

  @include mediaHeaght {
    font-size: 34px;
  }
}

@mixin iconWetherData {
  height: 150px;
  width: 150px;

  @include mediaHeaght {
    height: 250px;
    width: 250px;
  }
}
