.tomorrowWetherData {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  &__wrapperRenderTomorrowWetherData {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;

    .renderTomorrowWeatherData {
      @extend .tomorrowWetherData;
      height: 45%;
      width: 30%;
      flex-direction: column;
      color: white;
      margin-top: 15px;
    }

    .time {
      color: black;
      font-size: 24px;

      @include mediaMobile {
        font-size: 24px;
      }
    }

    .wrapperTodatTemp {
      .tempDay {
        @extend .time;
        color: white;
      }
      .braillePattern {
        @extend .tempDay;
        font-size: 16px;
        margin-left: 3px;
      }

      @include mediaMobile {
        display: flex;
        flex-direction: column;
      }
    }

    .descriptoin {
      font-size: 32px;

      @include mediaTablet {
        font-size: 24px;
      }
    }
  }

  .renderTomorrowIconData {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;

    .iconWether {
      position: relative;
      top: 20px;
      height: 150px;
      width: 150px;
    }
  }
}
