@import "../../../mixins/wetherDataMixins";

.tomorrowWetherData {
  @include weatherData;

  &__wrapperRenderTomorrowWetherData {
    @include wrapperRenderWeatherData;

    .renderTomorrowWeatherData {
      @extend .tomorrowWetherData;
      height: 55%;
      width: 30%;
      flex-direction: column;
      color: white;
      row-gap: 15%;

      .time {
        @include time;

        @include mediaTablet {
          font-size: 18px;
        }

        @include mediaHeight {
          font-size: 34px;
        }
      }

      .wrapperTodayTemp {
        .tempDay {
          @extend .time;
          color: white;
        }

        .braillePattern {
          @extend .tempDay;
          font-size: 16px;
          margin-left: 3px;
        }

        @include mediaTablet {
          display: flex;
          flex-direction: column;
        }

        @include mediaMobile {
          display: flex;
          flex-direction: column;
        }
      }

      .descriptionWetherText {
        @extend .time;
        color: white;
        @include mediaTablet {
          font-size: 18px;
        }

        @include mediaHeight {
          font-size: 34px;
        }
      }
    }

    .renderTomorrowIconData {
      height: 100%;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .iconWether {
        @include iconWetherData;
        height: 100px;
        width: 100px;
      }
    }
  }
}
