@import "../../../mixins/wetherDataMixins";

.tomorrowWetherData {
  @include weatherData;

  &__wrapperRenderTomorrowWetherData {
   @include wrapperRenderWatherData;

    .renderTomorrowWeatherData {
      @extend .tomorrowWetherData;
      height: 45%;
      width: 30%;
      flex-direction: column;
      color: white;
      margin-top: 15px;
    }

    .time {
     @include time;

      @include mediaMobile {
        font-size: 24px;
      }
    }

    .wrapperTodatTemp {
      .tempDay {
        @extend .time;
        color: white;
      }
      .braillePattern {
        @extend .tempDay;
        font-size: 16px;
        margin-left: 3px;
      }

      @include mediaMobile {
        display: flex;
        flex-direction: column;
      }
    }

    .descriptoin {
      font-size: 32px;

      @include mediaTablet {
        font-size: 24px;
      }
    }
  }

  .renderTomorrowIconData {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;

    .iconWether {
      @include iconWetherData;
      position: relative;
      top: 20px;
    }
  }
}
