.wrapeprBody {
  height: calc(100% - 60px);
  width: 100%;
  display: flex;
  justify-content: center;

  .searchInput {
    margin-top: 15px;
    height: 5%;
    width: 50%;
    background-color: white;
    border-radius: 20px;
    border: 1px solid gray;
    outline: none;
    display: flex;
    align-items: center;

    &:global(.ant-input-group-wrapper) {
      :global(.ant-input-group) {
        display: flex !important;
        justify-content: space-between !important;

        :global(.ant-input-group-addon) {
          left: 10px !important;
        }
      }
    }
  }
}
