.currentWeatherData {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  &__renderCurrentWeatherData {
    @extend .currentWeatherData;
    height: 50%;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    color: white;

    &__wrapperCurrentTemp {
      height: 30%;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: xxx-large;
    }
  }

  &__renderCurrentIconData {
    @extend .currentWeatherData__renderCurrentWeatherData;
    align-items: flex-end;
    justify-content: space-between;

    &__wrapperIconWether {
      width: 30%;
      height: 100%;

      &__iconWether {
        height: 100%;
        width: 100%;
      }
    }

    &__descriptionWitherText {
      width: 30%;
      display: flex;
      justify-content: center;
    }
  }
}
