.currentWeatherData {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  &__renderCurrentWeatherData {
    @extend .currentWeatherData;
    height: 100%;
    width: 30%;
    flex-direction: column;
    justify-content: space-around;
    color: white;

    .time {
      color: black;
      font-weight: 400;
      font-size: x-large;
    }

    .tempDay {
      @extend .time;
      color: white;
    }

    .braillePattern {
      @extend .tempDay;
      font-size: medium;
      margin-left: 3px;
    }

    .wrapperCurrentTemp {
      height: 35%;
      display: flex;

      .currentTemp {
        @extend .tempDay;
        font-weight: 600;
        font-size: 80px;
      }

      .specialCharactersCurrentTemp {
        font-size: 55px;
      }
    }

    .feelsLike {
      @extend .tempDay;
    }
  }

  &__renderCurrentIconData {
    @extend .currentWeatherData__renderCurrentWeatherData;
    align-items: center;
    justify-content: flex-start;

    .iconWether {
      height: 40%;
      width: 40%;
      margin-top: 5%;
    }

    .descriptionWetherText {
      font-weight: 400;
      font-size: x-large;
      margin-top: 15%;
    }
  }
}
