.wrapeprDataWether {
    height: 25%;
    width: 100%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;

    .noData {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        font-size: xx-large;
    }
}