@import "../variables/headerVariables";
@import "../mixins/mediaMixins";

.header {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  padding-left: 15px;

  @include mediaTablet {
    height: $header-height - 10px;
  }
}
