@import "../variables/headerVariables";
@import "../mixins/mediaMixins";

.header {
  height: $header-height;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}
