@import "../../../mixins/wetherDataMixins";

.weatherDataDaily {
  @include weatherData;
  height: 53%;
  align-items: center;
  color: white;

  .wrapperRenderDailyWetherData {
    @include wrapperRenderWatherData;
    height: 20%;
    
    .wrapperTimeDescription {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .time {
        @include time;
        font-size: 18px;

        @include mediaTablet {
          font-size: 24px;
        }

        @include mediaMobile {
          font-size: 18px;
        }
      }

      .description {
        @extend .time;
        color: white;
      }
    }

    .wrapperIconTemp {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .iconWether {
        position: relative;
        right: 30px;
        height: 80px;
        width: 80px;

        @include mediaMobile {
          height: 70px;
          width: 70px;
        }
      }

      .wrapperTempDay {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;

        .tempDay {
          color: black;
          font-size: 18px;

          @include mediaTablet {
            font-size: 24px;
          }

          @include mediaMobile {
            font-size: 18px;
          }
        }

        .tempNight {
          @extend .tempDay;
          color: white;
        }
      }

      @include mediaMobile {
        width: 25%;
      }
    }

    @include mediaTablet {
      height: 100%;
    }
  }
}
