.wrapperWeatherDataDaily {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;

  .wrapperDailyTemp {
    height: 5%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .wrapperWeatherDataDailyIcon {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      height: 80%;
    }
  }
}
