.wrapeprCurrentWeatherData {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

  .wrapeprRenderCurrentWeatherData {
    @extend .wrapeprCurrentWeatherData;
    height: 50%;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    color: white;

    .wrapperCurrentTemp {
      height: 30%;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: xxx-large;
    }
  }

  .wrapeprRenderCurrentIconData {
    @extend .wrapeprRenderCurrentWeatherData;
    align-items: flex-end;
    justify-content: space-between;

    .werapperIconWether {
      width: 30%;
      height: 100%;
      .iconWether {
        height: 100%;
        width: 100%;
      }
    }

    .descriptionWitherText {
      width: 30%;
      display: flex;
      justify-content: center;
    }
  }
}
