.searchInput {
  height: 40px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include mediaTablet {
    width: 80%;
  }

  @include mediaHeight {
    height: 70px;
  }
}
