@import "../../mixins";

.searchInput {
  height: $body-searchInput-height;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 0px;

  @include mediaTablet {
    width: 80%;
    margin: 0 0 15px;
  }
}
