.searchInput {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include mediaTablet {
    width: 80%;
  }

  @include mediaMobile {
    height: 8%;
  }

  @include mediaHeaght {
    height: 6%;
  }
}
