@import './hourlyWetherData/hourlyWeatherData.scss';
@import './dailyWetherData/dailyWetherData.scss';
@import './currentWetherData/currentWetherData.scss';

.wrapeprWeatherData {
  height: 25%;
  width: 100%;
  border-top: 2px solid white;
  display: flex;
  align-items: center;
  overflow: auto;

  .noData {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: xx-large;
  }
}
